body {
  text-align: center;
  font-family: serif;
font-size: 100%;
 color: grey;
}


.top-container {
  background-color: blue;
}
.middle-container {
background-color: blue;
}
.bottom-container {
background-color: blue;
}

.Cyber-Logo {
  font: bold;
}
